.about {
  @include center;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;

  @media (max-width: $tablet) {
    gap: 40px;
  }
}

.about__description {
  width: 1240px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: $desktop) {
    width: 678px;
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: $tablet) {
    width: 290px;
  }
}

.about__feature {
  padding: 50px 100px;
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $primary;
  border-radius: 20px;

  @media (max-width: $desktop) {
    padding: 50px;
    width: 678px;
  }

  @media (max-width: $tablet) {
    padding: 0;
    width: 290px;
  }
}

.about__head {
  padding: 10px 0;
  width: 702px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;

  @media (max-width: $desktop) {
    padding: 0;
    width: 638px;
  }

  @media (max-width: $tablet) {
    width: 290px;
    gap: 15px;
  }
}

.about__title {
  @include title;
}

.about__target {
  width: 498px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 41px;

  @media (max-width: $desktop) {
    gap: 40px;
  }

  @media (max-width: $tablet) {
    width: 290px;
    gap: 30px;
  }
}

.about__text {
  padding: 10px 0;
  width: 498px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;

  @media (max-width: $desktop) {
    padding: 0;
    gap: 30px;
  }

  @media (max-width: $tablet) {
    width: 290px;
    gap: 20px;
  }
}

.about__content {
  span {
    font-size: 22px;
    line-height: 145%;

    @media (max-width: $desktop) {
      font-size: 20px;
      line-height: 130%;
    }

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 137%;
    }
  }

  h3 {
    @include subtitle;
  }

  p {
    margin: 0;
  }

  h4 {
    margin: 0;
    min-width: 201px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 26px;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    @media (max-width: $desktop) {
      font-size: 20px;
      line-height: 110%;
    }

    @media (max-width: $tablet) {
      font-size: 16px;
      line-height: 125%;
    }
  }

  small {
    min-width: 201px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;

    @media (max-width: $tablet) {
      font-size: 14px;
      line-height: 143%;
    }
  }
}

.about__button {
  @include btn-span($primary, $white);

  padding: 5px 5px 5px 31px;
  height: 56px;

  @media (max-width: $tablet) {
    height: 44px;
  }
}

.about__button-icon {
  @include bg-mask(arrow-button);

  min-width: 46px;
  height: 46px;
  transition: background-color 300ms ease-in-out;

  @media (max-width: $tablet) {
    min-width: 34px;
    width: 34px;
    height: 34px;
  }

  &::before {
    width: 10px;
    height: 10px;
    mask-size: 8px 8px;
  }
}

.about__list {
  @include list;

  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  @media (max-width: $tablet) {
    padding: 20px 20px 40px 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.about__item {
  position: relative;
  padding: 22px 0 0 20px;
  width: 504px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: $primary;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    width: 18px;
    height: 22px;
    border-radius: 30px;
    background-color: $white;
    mask-image: url("/__spritemap#sprite-star-view");
  }

  @media (max-width: $desktop) {
    width: 273px;
  }
}

.about__point {
  padding: 30px 40px;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $beige;
  border-radius: 16px;

  @media (max-width: $desktop) {
    padding: 15px 20px;
    align-items: flex-start;
  }

  .about__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;

    @media (max-width: $desktop) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 15px;
    }
  }
}
