.faq {
  @include container;

  display: grid;
  justify-content: center;
  background-color: $bg-primary;
}

.faq__title {
  @include title;

  margin-bottom: 50px;
  text-align: start;

  @media (max-width: $desktop) {
    margin-bottom: 45px;
    text-align: center;
  }

  @media (max-width: $tablet) {
    margin-bottom: 37px;
  }
}

.faq__tabs {
  @media (max-width: $tablet) {
    width: 320px;
  }
}
