.form {
  width: 100%;
}

.form__control {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}

.form__control--select {
  position: relative;
  gap: 0;

  @media (max-width: $tablet) {
    width: 260px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 16px;
    height: 9px;
    background-color: $text;
    mask-image: url("/__spritemap#sprite-arrow-down-view");
    mask-size: 16px 9px;
  }
}

.form__control--select-open {
  position: relative;
  gap: 0;

  &::before {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 16px;
    height: 9px;
    background-color: $text;
    mask-image: url("/__spritemap#sprite-arrow-up-view");
    mask-size: 16px 9px;
  }
}

.form__control--select.form__control--write,
.form__control--select-open.form__control--write {
  &::before {
    background-color: $white;
  }
}

.form__label {
  font-size: 14px;
  line-height: 129%;
  opacity: 0.8;

  @media (max-width: $desktop) {
    line-height: 143%;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
    line-height: 117%;
  }

  &--hidden {
    display: none;
  }

  &--checkbox {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 12px;

    @media (max-width: $tablet) {
      height: 42px;
    }
  }
}

.form__field {
  @include input($text);

  &--hidden {
    padding: 1px 6px 1px 20px;
    position: absolute;
    top: 29px;
    width: 348px;
    opacity: 0;
  }

  &--write {
    @include input($white);

    color: $white;
  }

  &--text-area {
    width: 350px;
    height: 90px;
    resize: none;
  }

  @media (max-width: $desktop) {
    &--text-area {
      width: 362px;
    }
  }

  @media (max-width: $tablet) {
    &--text-area {
      width: 270px;
      height: 94px;
    }
  }
}

.form__field--select {
  position: relative;
  line-height: 40px;
  font-size: 20px;
  width: 100%;
  appearance: none;
}


.form__field--checkbox {
  padding: 6px 4px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid $text;
  border-radius: 2px;
  opacity: 0.7;

  &:hover,
  &:focus {
    border: 1px solid $text;
    opacity: 1;
    outline: none;
  }

  &:focus:invalid {
    background-color: rgba($state-error, 0.2);
    border: 1px solid $state-error;
  }
}

.form__field--checkbox:checked {
  border-color: $primary;
  background-color: $white;
  opacity: 1;

  &::before {
    content: "";
    width: 10px;
    height: 8px;
    background-color: $primary;
    mask-image: url("/__spritemap#sprite-checked-view");
    opacity: 1;
  }

  &:hover,
  &:focus {
    background-color: $primary;
    border-color: $primary;
  }

  &:hover::before,
  &:focus::before {
    background-color: $white;
  }

  &:disabled {
    background-color: $state-disabled;

    &::before {
      background-color: $white;
    }
  }
}


.form__field--write.form__field--checkbox {
  border: 1px solid $white;
  opacity: 0.7;

  &:hover,
  &:focus {
    border-color: $white;
    opacity: 1;
  }

  &:focus:invalid {
    background-color: rgba($state-error, 0.2);
    border: 1px solid $state-error;
  }

  &:checked {
    background-color: $white;
    opacity: 1;
  }

  &:checked::before {
    background-color: $primary;
  }

  &:checked:hover,
  &:checked:focus {
    border-color: $white;
    background-color: $primary;
  }

  &:checked:hover::before,
  &:checked:focus::before {
    background-color: $white;
  }
}

.form__select-toggle {
  margin-top: 12px;
  padding-left: 20px;
  width: 348px;
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-direction: row;
  text-align: start;
  gap: 0;
  font-size: 14px;

  @media (max-width: $desktop) {
    width: 362px;
  }

  @media (max-width: $tablet) {
    width: 260px;
  }
}

.form__options {
  @include list;

  position: absolute;
  top: 85px;
  left: 0;
  display: none;
  width: 100%;
  height: auto;
  border-radius: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  background-color: $white;
  border: 1px solid $text;
  z-index: 1;

  @media (max-width: $tablet) {
    width: 260px;
  }

  &--open {
    display: flex;
  }

  .form__option {
    color: $text;
  }
}

.form__option {
  padding: 17px 20px;
  width: 348px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
  font-size: 14px;
  line-height: 100%;

  @media (max-width: $desktop) {
    width: 362px;
  }

  @media (max-width: $tablet) {
    width: 260px;
  }

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    color: $primary;
  }

  &:focus,
  &:active {
    color: $white;
    background-color: $primary;
    outline: none;
  }
}

.form__submit {
  @include btn-span($primary, $white);

  padding-left: 28px;
  width: 194px;
  align-self: center;

  @media (max-width: $tablet) {
    padding: 4px 4px 4px 75px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
  }

  &--write {
    @include btn-span($white, $primary);

    margin-top: 20px;
    padding-left: 110px;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $desktop) {
      margin-right: auto;
      width: 352px;
    }

    @media (max-width: $tablet) {
      margin-top: 0;
      padding-left: 75px;
      width: 260px;
    }
  }
}

.form__submit-icon {
  @include bg-mask(arrow-button);

  min-width: 46px;
  height: 46px;
  transition: background-color 300ms ease-in-out;

  @media (max-width: $tablet) {
    min-width: 34px;
    width: 34px;
    height: 34px;
  }

  &::before {
    width: 10px;
    height: 10px;
    mask-size: 8px 8px;
  }

  &--write {
    background-color: $white;
  }

  &--write::before {
    background-color: $primary;
  }
}
