.gallery {
  padding-bottom: 3px;
}

.gallery__headline {
  @include center;

  margin-bottom: 22px;
  padding-bottom: 0;
  width: 1440px;
  min-height: 155px;

  @media (max-width: $desktop) {
    margin-bottom: 21px;
    padding-left: 44px;
    padding-bottom: 5px;
    width: 768px;
    justify-content: center;
    min-height: 95px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 320px;
    min-height: 75px;
  }

  .title__text {
    padding-top: 24px;

    @media (max-width: $desktop) {
      padding-top: 18px;
    }

    @media (max-width: $tablet) {
      padding-top: 17px;
    }
  }

  .title__shadow {
    left: 120px;

    @media (max-width: $desktop) {
      left: 45px;
      bottom: 10px;
    }

    @media (max-width: $tablet) {
      left: 15px;
    }
  }
}

.gallery__block {
  @include center;

  margin-bottom: 46px;
  padding-top: 0;
  padding-bottom: 0;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: $desktop) {
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 44px;
    padding-bottom: 0;
    width: 768px;
  }

  @media (max-width: $tablet) {
    padding-left: 15px;
    width: 290px;
    justify-content: center;
    margin-bottom: 31px;
  }
}

.gallery__content {
  width: 606px;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: $desktop) {
    width: 420px;
    font-size: 14px;
    line-height: 157%;
  }

  @media (max-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 290px;
    font-size: 12px;
    line-height: 150%;
  }

  p {
    margin: 0;
  }
}

.gallery__buttons {
  display: none;

  @media (max-width: $desktop) {
    display: grid;
  }

  @media (max-width: $tablet) {
    display: none;
  }
}

.gallery__slider {
  width: 1440px;

  @media (max-width: $desktop) {
    width: 768px;
  }

  @media (max-width: $tablet) {
    width: 320px;
  }
}

.gallery__wrapper {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  @media (max-width: $desktop) {
    width: 768px;
    height: 418px;
    flex-wrap: nowrap;
    gap: 4px;
  }

  @media (max-width: $tablet) {
    gap: 3px;
    width: 320px;
    height: 266px;
  }
}

.gallery__slide {
  max-width: 284px;

  @media (max-width: $desktop) {
    max-width: 253px;

    &--four {
      max-width: 260px;
    }
  }
}

.gallery__image-big {
  width: 284px;
  height: 463px;

  img {
    width: 284px;
    height: 463px;
  }

  @media (max-width: $desktop) {
    width: 253px;
    height: 418px;

    img {
      width: 253px;
      height: 418px;
    }

    &--four {
      width: 260px;
    }
  }

  @media (max-width: $tablet) {
    width: 158px;
    height: 266px;

    img {
      width: 158px;
      height: 266px;
      object-fit: cover;
    }
  }
}

.gallery__image-top {
  margin-bottom: 7px;
  width: 284px;
  height: 233px;

  @media (max-width: $desktop) {
    margin-bottom: 6px;
    width: 252px;
    height: 210px;

    img {
      width: 252px;
      height: 210px;
    }
  }

  @media (max-width: $tablet) {
    margin-bottom: 6px;
    width: 157px;
    height: 135px;

    img {
      width: 157px;
      height: 135px;
    }
  }
}

.gallery__image-bottom {
  width: 284px;
  height: 223px;

  @media (max-width: $desktop) {
    width: 252px;
    height: 202px;
  }

  @media (max-width: $tablet) {
    width: 158px;
    height: 125px;
  }
}
