.header {
  position: absolute;
  top: 30px;
  width: 1240px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  @media (max-width: $desktop) {
    width: 678px;
  }

  @media (max-width: $tablet) {
    top: 20px;
    width: 290px;
    min-width: 290px;
  }
}

