.header {
  position: absolute;
  top: 30px;
  width: 86%;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $desktop) {
    width: 678px;
  }

  @media (max-width: $tablet) {
    top: 20px;
    width: 290px;
    min-width: 290px;
  }
}

