.page {
  min-width: 320px;

  &--fix {
    overflow: hidden;
  }
}

.page__wrapper {
  position: relative;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e9a0a0;
}
