.tours-slide.swiper-slide {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.tours-slide__picture-fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: $bg-fond-tours;
  z-index: -1;
}

.tours-slide__picture-fond img {
  width: 380px;
  height: 416px;

  @media (max-width: $desktop) {
    width: 330px;
    height: 416px;
  }

  @media (max-width: $tablet) {
    width: 290px;
    height: 416px;
  }
}

.tours-slide__content {
  padding: 30px 19px;
  display: grid;
  gap: 15px;
  color: $white-100;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding-left: 20px;
    width: 290px;
    gap: 14.5px;
  }

  @media (max-width: $tablet) {
    width: 250px;
    gap: 14px;
  }
}

.tours-slide__details {
  @include list;

  width: 340px;
  margin-left: 1px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width: $desktop) {
    margin-left: 0;
    width: 290px;
    gap: 15px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 3px;
    width: 250px;
    gap: 5px;
  }
}

.tours-slide__detail {
  @include bg-icon(days);

  padding: 4px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;

  &::before {
    width: 20px;
    height: 20px;
    mask-size: 17px 16px;
  }

  &--place {
    @include bg-icon(pin);

    padding: 6px 12px;
    height: 28px;
    background-color: $additional-100;

    @media (max-width: $desktop) {
      gap: 6px;
      padding: 6px 12px;
    }

    @media (max-width: $tablet) {
      padding-left: 11px;
    }
  }

  &--place::before {
    width: 16px;
    height: 16px;
    mask-size: 10px 13px;
    mask-position: center;
  }

  &--days {
    @include bg-icon(sun);

    margin-left: auto;
    height: 20px;
    gap: 12px;

    @media (max-width: $desktop) {
      padding-top: 4px;
      padding-bottom: 4.3px;
    }
  }

  &--days::before {
    width: 20px;
    height: 20px;
    mask-size: 20px 20px;
  }

  &--nights {
    height: 20px;
    gap: 12px;

    @media (max-width: $desktop) {
      padding-bottom: 5px;
    }

    @media (max-width: $tablet) {
      margin-left: 10px;
    }
  }
}

.tours-slide__subtitle {
  @include title;

  padding-bottom: 15px;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 117%;
  color: $white-100;
  word-break: normal;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 1px;
    background-color: $white-100;
    opacity: 0.2;
  }

  @media (max-width: $desktop) {
    padding-bottom: 15px;
    font-size: 24px;
  }

  @media (max-width: $tablet) {
    padding-bottom: 15px;
  }
}

.tours-slide__info {
  @include list;

  width: 340px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 26px;

  @media (max-width: $desktop) {
    width: 290px;
    justify-content: flex-start;
    gap: 27px;
  }

  @media (max-width: $tablet) {
    width: 250px;
    gap: 7px;
  }
}

.tours-slide__info-item {
  height: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;

  &--star {
    gap: 4px;
  }

  @media (max-width: $tablet) {
    gap: 5px;
  }
}

.tours-slide__term {
  font-size: 12px;
  font-weight: 300;
  line-height: 100%;
}

.tours-slide__desk {
  font-size: 13px;
  font-weight: 700;
  line-height: 100%;

  &--level {
    width: 84px;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.25em;
    opacity: 0.8;
  }
}
