@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Roboto/Roboto-Condensed-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Roboto/Roboto-Condensed-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Roboto/Roboto-Condensed-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Alumni";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Alumni/AlumniSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Alumni";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/Alumni/AlumniSans-ExtraBold.woff2") format("woff2");
}
