@mixin container {
  width: 100%;
  padding: 100px 103px;
  margin: 0 auto;

  @media (max-width: $desctop-width) {
    padding: 60px 45px;
  }

  @media (max-width: $tablet-width) {
    padding: 40px 15px;
  }
}

@mixin title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 54px;
  font-weight: 600;
  line-height: 100%;
  color: $color-base-sapfire;

  @media (max-width: $desctop-width) {
    font-size: 42px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

@mixin btn($color, $bg-color, $color-hover, $bg-hover) {
  padding: 27px 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  color: $color;
  text-transform: uppercase;
  background-color: $bg-color;
  border: 2px solid $color;
  box-sizing: border-box;
  cursor: pointer;
  transition: color, background-color 1s;

  &:hover {
    color: $color-hover;
    background-color: $bg-hover;
    border: 2px solid $color;
  }

  &:focus {
    color: $color-hover;
    border: 2px solid $btn-border-dark;
    background-color: rgba($bg-hover, 0.8);
    outline: none;
  }

  &:active {
    color: rgba($color, 0.8);
    background-color: $bg-hover;
    border: 2px solid $bg-trans;
  }

  &:disabled {
    opacity: 0.5;
  }
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}
