@mixin container {
  width: 100%;
  padding: 100px 103px;
  margin: 0 auto;

  @media (max-width: $desctop-width) {
    padding: 60px 45px;
  }

  @media (max-width: $tablet-width) {
    padding: 40px 15px;
  }
}

@mixin title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 54px;
  font-weight: 600;
  line-height: 100%;
  color: $color-base-sapfire;

  @media (max-width: $desctop-width) {
    font-size: 42px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}

@mixin btn($color) {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  color: $color;
  text-transform: uppercase;
  background-color: $bg-trans;
  border: 2px solid $color;
  box-sizing: border-box;
  cursor: pointer;
  transition: color, background-color 0.3s;

  @media (max-width: $tablet-width) {
    padding: 22px 0;
  }

  &:hover {
    color: $color-add;
    background-color: $color;
  }

  &:focus {
    color: $color-add;
    border: 2px solid $btn-focus;
    background-color: rgba($color, 0.8);
    outline: none;
  }

  &:active {
    color: $color-base-sapfire;
    background-color: $color;
    border: 2px solid $color;
  }

  &:disabled {
    opacity: 0.5;
  }
}

@mixin btn-grad($color) {
  @include btn($color);

  &:hover {
    color: $color-base-white;
    background: $bg-trans $bg-btn-grad;
    border-image: $bg-btn-grad 30;
  }

  &:focus {
    color: $color-base-white;
    background-image: $bg-btn-grad;
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
    color: rgba($color-base-white, 0.7);
  }

  &:disabled {
    opacity: 0.3;
  }
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}
